/*
 * CRYPTOBASE CSS
 *
 */

body {
	/* background-color:  #303030; */
}

/* h1 styling */
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	color: #3F3F3F;
}

/* menu canvas styling */
#menu {
	position: absolute;
	z-index: 1;             /* by default, menu layer should appear on top of all other layers */
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* str_canvas styling */
#str_canvas {
	position: absolute;
	z-index: 0;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* game over canvas styling */
#game_over {
    position: absolute;
    z-index: -1;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* instructions canvas styling */
#instructions {
    position: absolute;
    z-index: -1;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
}

/* border for caesar page subtitle */
#caesarText {
    content:' ';
    display:block;
    border:2px solid black;
}